<% if (foods) { %>
<script>

console.log('foods exists');

</script>
<% } %>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Senseplate</title>
  <meta name="description" content="Senseplate App">
  <meta name="author" content="Matthew Skingley">

</head>

<body>
    <!-- foods go here, wonderfully pure JSON to format for the web -->
    <%= foods%> 

</body>
</html>