<% if (foods) { %>
<script>

console.log('foods exists');
Window.x = "<%= foods%>";
console.log(Window.x)

</script>
<script src="/script.js"></script>
<!-- <%= foods%> -->
<% } %>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Senseplate</title>
  <meta name="description" content="Senseplate App">
  <meta name="author" content="Matthew Skingley">

</head>

<body>
</body>
</html>